* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f5f8;
}

h1 {
  color: rgb(44, 118, 141);
  letter-spacing: 1px;
}

.menu a {
  color: rgb(117, 112, 112);
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover {
  color: rgb(96, 175, 199);
}

.icons a {
  color: rgb(96, 175, 199);
}

@media screen and (min-width: 800px) {
  .navbar-container {
    display: flex;
    justify-content:space-evenly;
    width: 100vw;
    height: 70px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.22);
  }

  .title {
    display: flex;
    align-items: center;
  }

  .toggle-btn {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 500px;
    height: 70px;
    justify-content: space-between;
  }
  
  .icons {
    display: flex;
    list-style: none;
    align-items: center;
    width: 125px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 799px){
  .navbar-container {
    width: 100vw;
    height: 70px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.22);
  }

  .title {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
  }

  .toggle-btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: rgb(96, 175, 199);
  }

  .menu-container {
    height: auto;
    background-color: white;
    margin-top: 13px;
    overflow: hidden;
    transition: all 0.3s linear;
  }

  .menu {
    list-style: none;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
  }

  .menu a:hover {
    color: white;
  }

  .menu li {
    margin-top: 10px;
    padding: 15px;
  }

  .menu li:hover {
    background-color: rgb(96, 175, 199);
    color: white;
  }

  .icons {
    display: none;
  }
}

